[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
gunicorn = "*"
heroku = "*"
codecov = "*"
pytest-django = "*"
requests = "*"
virtualenv = "*"
pytest-cov = "*"
python-decouple = "*"
dj-database-url = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.9"
