[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
gunicorn = "*"
codecov = "*"
pytest-django = "*"
requests = "*"
pytest-cov = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
sentry-sdk = "*"
django-debug-toolbar = "*"
django = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"
model-mommy = "*"
model-bakery = "*"

[requires]
python_version = "3.9"
