{% extends 'base/base.html' %}
{% load static %}
{% block title %} Python Pro - Home {% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho!
                </h2>
                <h4>Matriculas abertas custo R$ 1000.00</h4>

                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="https://pag.ae/7Y2hm8Fur/button" target="_blank" title="Pagar com PagSeguro"><img
                        src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar-preto.gif"
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a><!-- FIM DO BOTAO PAGSEGURO -->

                <h4 class="mt-4">Entre na Fila de Espera! </h4>

                <form action="https://hotmail.us14.list-manage.com/subscribe/post?u=4e80adac885f98ccd2473b67a&amp;id=eb82d66e66"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                                   placeholder="exemplo@gmail.com">
                        </div>
                         <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Email</label>
                            <input type="email" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">
                        </div>

                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                  name="b_4e80adac885f98ccd2473b67a_eb82d66e66"
                                                                                                  tabindex="-1" value=""></div>

                        <div class="col-auto">
                            <input type="submit" value="salvar" name="subscribe"
                                   id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>


                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src=" {% static 'img/luciano.png' %}" width="250" alt="Foto do Luciano Ramalho"
                             class="img-thumbnail float-left mr-3"/>
                        Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a>
                        <a href="https://www.amazon.com.br/Livros-Luciano-Ramalho/s?rh=n%3A6740748011%2Cp_27%3ALuciano+Ramalho"
                           target="_blank"> Python </a>e autor do
                        Livro Python Fluente. Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                        Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
                        Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                        Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a
                        criar a Associação Python Brasil e foi seu presidente. É membro da Python Software Foundation e
                        fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}